/* App.css */

.App {
  text-align: center;
}

.app-container {
  position: relative;
  
}

.options-list-container {
  position: relative;
  margin-bottom: 30px; 
  background-color: #e5e4e2;
}

.food-form-container {
  margin-top: 30px; 
  
}


.food-form-container select,
.food-form-container input,
.food-form-container button {
  font-size: 18px; 
}


.food-form {
  margin-top: 30px; 
  text-align: center; 
}

.food-form h2 {
  font-size: 25px;
}

.form-bottom-space {
  margin-bottom: 10px; 
}

.food-form select,
.food-form input,
.food-form button {
  font-size: 18px; 
}


.response-container {
  margin-top: 20px;
  text-align: center;
}

.preferences-title {
  margin-left: 40px;
  font-size: 40px;
}
