/* App.css */

.App {
  text-align: center;
}

.app-container {
  position: relative;
}

.check-options-container {
  position: relative;
  margin-bottom: 30px; /* Adjust as needed for the desired separation */
}

.food-form-container {
  margin-top: 30px; /* Adjust margin as needed to separate from CheckOptions */
}

/* You can also increase the size of the FoodForm here */
.food-form-container select,
.food-form-container input,
.food-form-container button {
  font-size: 18px; /* Adjust font size as needed */
  /* Add other styling properties as needed */
}

/* App.css */

/* ... existing styles ... */

.food-form {
  margin-top: 30px; /* Adjust margin as needed */
  text-align: center; /* Center the form content */
}

.food-form h2 {
  font-size: 25px; /* Adjust font size as needed for the header text */
}

.form-bottom-space {
  margin-bottom: 200px; /* Adjust margin as needed for extra whitespace below the form */
}

.food-form select,
.food-form input,
.food-form button {
  font-size: 18px; /* Adjust font size as needed */
  /* Add other styling properties as needed */
}


.response-container {
  text-align: center;
}
