/* CheckOptions.css */


.check-options-container {
    background-color: #ffffff; 
    color: #000000; 
    padding: 20px;
    width: 90%; 
    margin: 0px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(63, 63, 63, 0.5);
    background-color: white;
    margin-bottom: 30px;
  }
  
  .check-options-title {
    margin-bottom: 20px;
  }
  
  .options-list {
    list-style: none;
    padding: 0;
  }
  
  .option-item {
    margin-bottom: 8px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-input {
    margin-right: 8px;
  }
  
  .selected-options {
    margin-top: 10px;
  }

  #GPTFilters {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px; /* Adjust margin as needed */
  }
  
  /* You can also style the label for better alignment or appearance */
  .text-box-container label {
    display: block; /* Make the label a block element for proper spacing */
    margin-bottom: 6px; /* Adjust margin as needed */
  }